
/*
    public area style
*/
body{

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/*
svg是目前十分流行的图像文件格式了,svg严格来说应该是一种开放标准的矢量图形语言，
使用svg格式我们可以直接用代码来描绘图像，可以用任何文字处理工具打开svg图像，
通过改变部分代码来使图像具有交互功能，并可以随时插入到HTML中通过浏览器(如火狐浏览器)来观看。
*/

@font-face {
    font-family: itcast;
    src: url('../font/MiFie-Web-Font.eot') format('embedded-opentype'),
    url('../font/MiFie-Web-Font.svg') format('svg'),
    url('../font/MiFie-Web-Font.ttf') format('truetype'),
    url('../font/MiFie-Web-Font.woff')  format('woff');
}

/*通配符*/
[class^='icon-'],[class*=' icon-']{
    font-family: itcast;
}


/*需要的时候，可以搜索 如何使用伪类元素，如何制作svg之类的*/
/*如何制作矢量图，打开一个网站叫做 icomoon.io (国外的网站)*/
/*打开后，点击 app */
/*
 1：使用倒入功能，倒入2个svg，然后生成，字符编码 e901; 例如61代表的是a；然后命名之后点击下载
 2：使用网站提供的功能
 */



/* 知识点： 伪元素*/
/*给i标签起一个类名，写法如下，content这个东西从哪里来呢？？？*/

/*字体图标 是一个矢量图，每一个字母都是对应图标*/


.icon-mobilephone::before{
    content:"\e908";
    font-size: 13px;
}

.icon-telephone::before{
    content:"\e909";
    font-size: 15px;
}




/*
    bootstrap 扩展样式

*/


/* 下面这个知识点：教你如何 更换使用bs的样式 */
/*<!--btn-register是自己起的一个类名，因为要重写这个样式-->*/
/*<!--方法：去bs css中随便copy一个btn-default的代码，然后搜索关键字，将default替换成register-->*/
/*<!--具体操作，情趣css文件中看-->*/
/* 方法2：去blog.koalite.com/bbg/这个网站，这个网站是bs的按钮快速生成器，在这里，我们主要是需要颜色
生存之后，就复制过来，放在这里，如下所示
*/


.btn-register {
    color: #ffffff;
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-register:hover,
.btn-register:focus,
.btn-register:active,
.btn-register.active,
.open .dropdown-toggle.btn-register {
    color: #ffffff;
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-register:active,
.btn-register.active,
.open .dropdown-toggle.btn-register {
    background-image: none;
}

.btn-register.disabled,
.btn-register[disabled],
fieldset[disabled] .btn-register,
.btn-register.disabled:hover,
.btn-register[disabled]:hover,
fieldset[disabled] .btn-register:hover,
.btn-register.disabled:focus,
.btn-register[disabled]:focus,
fieldset[disabled] .btn-register:focus,
.btn-register.disabled:active,
.btn-register[disabled]:active,
fieldset[disabled] .btn-register:active,
.btn-register.disabled.active,
.btn-register[disabled].active,
fieldset[disabled] .btn-register.active {
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-register .badge {
    color: #E92322;
    background-color: #ffffff;
}




/*
    head area
*/

#header{
    /*height:200px;*/
    /*background: #f0f0f0;*/
}



/* 1。1 头部的顶部，给一个高度，给一个居中，给一个下边框线*/
#header > .topbar{

    height: 40px;
    border-bottom: 1px solid #c0c0c0;
    line-height: 40px;

}

#header > .topbar > .container > .row > div{
    height: 40px;
    font-size: 12px;
    color: #888;
}

/*加号选择器；找到div这个元素，下面的其他兄弟姐妹，这个方法可以做分割线*/
#header > .topbar > .container > .row > div + div{
    border-left: 1px solid #c0c0c0;;
}

/* a标签的颜色和字体，是不受父级元素样式影响的*/

/*需要对里面所有的a标签进行处理，给一个class叫做 mobile-link */
/*a标签的字体，颜色，鼠标划过时候*/

#header .mobile-link{
    font-size: 12px;
    color: #888;

}

#header .mobile-link:hover{
    text-decoration: none;
}


/* 通过css来控制 显示与隐藏，而不是通过js */

/*要点：
当鼠标在上面的时候，属性display会变成 block
当鼠标挪走的时候，属性display会变成 none
*/
#header .mobile-link > img{
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top: 30px;
    z-index: 1001;
}

#header .mobile-link:hover > img{
    text-decoration: none;
    display: block;
}




/*#header > .topbar > .container > .row > div{*/

    /*background-color: #f40;*/
    /*height: 40px;*/
    /*!*border-bottom: 1px solid #c0c0c0;*!*/

/*}*/

/*#header > .topbar > .container > .row > div:nth-of-type(2n){*/

    /*background-color: #f20;*/
    /*height: 40px;*/
    /*!*border-bottom: 1px solid #c0c0c0;*!*/

/*}*/




/** end 1。1 头部的顶部，给一个高度，给一个居中，给一个下边框线*/



/*1。2 导航栏开始*/


.icon-logo::before{
    content:'\e93e'
}
.icon-icon::before{
    content:'\e920'
}


/*为什么需要在之类对他们进行样式设计呢？*/
/*因为他们2个的高度都是不一样的，
但是通过line-height: 50px;
    vertical-align: middle;这2个元素，就可以让它们居中
*/

#header .icon-icon{
    /*因为是字体，所以才可以设计font-size*/
    font-size: 50px;
    /*这里是主题颜色*/
    color: #E92322;
    line-height: 50px;
    /*vertical-align:处理文字基线*/
    vertical-align: middle;
}

#header .icon-logo{
    font-size: 32px;
    color:#333;
    line-height:50px;
    vertical-align: middle;
}


/*
将navbar-default中的代码copy过来，修改成自定义的颜色
*/
/*对navbar-default进行改造*/
/*小技巧，可以在网站上调试好了，再复制过来，*/



/* 更改 1。1  */
/*这里，背景颜色和边框颜色都设置一下 */
.navbar-custom {
    /*改*/
    background-color: #fff;
    /*改*/
    border-color: #f5f5f5;
    margin-bottom: 0px;
}



/* 更改 1。2 */
/*这里设置一个行高，是因为字体图标的大小，所以需要更改这里*/
.navbar-custom .navbar-brand {
    color: #777;
    /*添加，在上面brand样式设计的时候，高度是32px和50px，这个数值可以在网站上面调试的时候来调*/
    height: 80px;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.navbar-custom .navbar-text {
    color: #777;

}
/* 更改 1。3 */
/*这里修改，对导航栏里面的a标签进行设置*/

.navbar-custom .navbar-nav > li > a {
    color: #777;
    /*这个48px要通过调试和计算得到*/
    line-height: 48px;
    /*字体偏小来，更改一下大小*/
    font-size: 14px;
}
/* 更改 1。4 */
/* 修改 这里，关于a标签的 下划线问题*/
/*这里使用来逗号呢，是什么意思呢？？*/
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #333;
    /*是不需要任何背景颜色，所以设置成透明，改成#fff也就是白色 也可以*/
    background-color: transparent;
    /*下划线问题，那么全部都是2px的实体红线*/
    border-bottom: 2px solid #E92322;

}
/* 更改1。5 */
/* 修改 这里*/
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #555;
    /*是不需要任何背景颜色，所以设置成透明，改成#fff也就是白色 也可以*/
    background-color: transparent;
    /*下划线问题，只要是active的类，那么全部都是2px的实体红线*/
    border-bottom: 2px solid #E92322;
}


.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}



/* 更改1。6 */
/* 修改, 可以根据toggle本身属性，来做修改*/
/*调整.navbar-toggle，是因为显示的不太友好*/
.navbar-custom .navbar-toggle {
    border-color: #ddd;
    /*这里不行*/
    margin-top: 23px;
    /*这里也不行*/
    margin-bottom: 23px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
    border-color: #e7e7e7;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

/*所以这个部分也是nav自带的，因为自适应需要*/
@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.navbar-custom .navbar-link {
    color: #777;
}
.navbar-custom .navbar-link:hover {
    color: #333;
}
.navbar-custom .btn-link {
    color: #777;
}
.navbar-custom .btn-link:hover,
.navbar-custom .btn-link:focus {
    color: #333;
}
.navbar-custom .btn-link[disabled]:hover,
fieldset[disabled] .navbar-custom .btn-link:hover,
.navbar-custom .btn-link[disabled]:focus,
fieldset[disabled] .navbar-custom .btn-link:focus {
    color: #ccc;
}


/*导航栏自定义样式结束*/


/*
    advertising display area
*/

#main_ad{

}

/*这里很重要，掌握的不是很好，也就是把这个div当成一个容器*/
#main_ad > .carousel-inner > .item {
     /*背景图片不要重复啊*/
     background-repeat:no-repeat;
     /*背景图，一直让它居中*/
     background-position: center center;
     /*-webkit-background-size:;*/
     /*上面这个基本不写，这个意思就是图片永远覆盖这这个容器么？？所以当长条图的宽度大于盒子的宽度的时候，这个图片还是居中显示*/
     background-size: cover;
 }
/*什么时候不可以使用410的高度，当屏幕的高度*/

/*可以通过媒体查询，控制高度，*/


/*当屏幕宽度大于768的时候，就会去执行*/
@media (min-width: 768px) {
    #main_ad > .carousel-inner > .item {
        height: 410px;
    }
}


#main_ad > .carousel-inner > .item > img{
    /*让这个图片撑大*/
    width: 100%;
}


/*section{*/
    /*height: 200px;*/
    /*background-color: #fff;*/

/*}*/

/*!* css3 new func *!*/
/*section:nth-of-type(2n){*/
    /*background-color: #f5f5f5;*/
/*}*/


/*
    special feature area
*/


#feature-product{
    padding: 50px 0px 30px 0px;
    border-bottom: 1px solid #c0c0c0;

}

#feature-product > .container > .row > div{
    margin-bottom: 20px;
    /*height: 50px;*/
    /*background-color: #f40;*/
}

.icon-uniE907::before{
    content: "\e907";
}

#feature-product i{
    font-size: 34px;

}

#feature-product a:hover{
    text-decoration: none;
    color: #E92322;
}
#feature-product a{
    color: #555;
}



/*这是一段测试代码*/
/*#feature-product > .container > .row > div:nth-of-type(2n){*/
    /*height: 50px;*/
    /*background-color: #04f;*/
/*}*/





/*
    make a booking area
*/

#booking-product{
    border-bottom: 1px solid #c0c0c0;
    padding: 20px 0px;
}


/*p标签中的pull-right or pull-left都有一个默认的margin 10*/


#booking-product > .container > p{
    /*height: 50px;*/

    font-size: 14px;
    margin-bottom: 0px;
}

#booking-product > .container > .pull-left > span{
    color: #E92322;
}

#booking-product > .container > .pull-left > a{
    color: #E92322;
    border-bottom: 1px dashed #E92322;
}
#booking-product > .container > p > a:hover{
    text-decoration: none;
}

.icon-uniE906::before{
    content: "\e906";
}
.icon-uniE905::before{
    
    content: "\e905";
}


/*
    product display area
*/

#display-products{
    background-color: #f0f0f0;
    padding: 40px 0px;
}

#display-products > .container > .ul-wrap{
    overflow-x: scroll;
}


#display-products > .container > .ul-wrap > .nav-tabs{
    padding-left: 20px;
}

#display-products > .container > .ul-wrap > .nav-tabs > li{

}

#display-products > .container > .ul-wrap > .nav-tabs > li > a{
    font-size: 16px;
    color: #333;

}
#display-products > .container > .ul-wrap > .nav-tabs > li.active{

}

/*一般样式都是给a添加*/
#display-products > .container > .ul-wrap > .nav-tabs > li.active > a{
    background-color: transparent;
    border: transparent;
    border-bottom: 3px solid #E92322;
}

/*#display-products > .container > .nav-tabs > li.active > a,*/
/*#display-products > .container > .nav-tabs > li.active > a:focus,*/
#display-products > .container > .ul-wrap > .nav-tabs > li > a:hover{
    background-color: transparent;
    /*border-color: transparent;*/
    color: #000;
}

#display-products > .container > .tab-content{
    padding: 20px 0px;
}


#display-products > .container > .tab-content p{
    margin-bottom: 0px;
}









.panel-custom {
    /*border-color: #ddd;*/
    border-radius: 0px;
    border: 0px;
    box-shadow: 1px 1px 5px #ccc inset;
}
.panel-custom > .panel-heading {
    /*color: #333;*/
    /*background-color: #f5f5f5;*/
    /*border-color: #ddd;*/
    float: right;
    width: 120px;
    padding: 0px;
    height: 150px;
    border-left: 1px dashed #c0c0c0;
    text-align: center;
    position: relative;

}


/*一种奇怪的写法*/
.panel-custom > .panel-heading > p{

    position: absolute;
    width: 100%;
    top:50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -60px;
}

.panel-custom > .panel-heading::before{
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #f0f0f0;
    position: absolute;

    top:-8px;
    left: -8px;

}



.panel-custom > .panel-heading > .tooltips{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 34%;
}




.panel-custom.actived{
    background-color: #E92322;
    color: white;
}

.panel-custom.actived::before{
    content: '\e915';
    /*color: white;*/
    font-family: itcast;
    font-size: 50px;
    position: absolute;
    top:-11px;
    left: 15px;
}


.panel-custom.disabled{
    background-color: #e0e0e0;
}

.panel-custom > .panel-heading::after{
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #f0f0f0;
    position: absolute;

    bottom: -8px;
    left: -8px;
    box-shadow: 0px 2px 1px #ccc inset;
    /*好好理解 这个地方的 阴影*/
}


.panel-custom > .panel-body {
    margin-right: 120px;
    height: 150px;
    /*text-align: center*/

}
.panel-custom > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}

/*行内元素是没有高度和宽度*/
.panel-custom > .panel-heading .badge {
    /*color: #f5f5f5;*/
    /*background-color: #333;*/
    display: inline-block;
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    background-color: transparent;
    padding: 3px;

}

.panel-custom > .panel-heading .badge-one {
    color: #E92322;
    border-color: #E92322;
}

.panel-custom > .panel-heading .badge-two {
    color: #399;
    border-color: #399;
}





/*
    news list area
*/


/*
    cooperation area
*/

/*
    footer area
*/

#footer{

}

/*.container{*/
    /*width: 100%;*/
    /*height: 1000px;*/
    /*background: #fd7e14;*/
/*}*/

/*@media (min-width: 768px){*/
    /*.container{*/
        /*width: 750px;*/
    /*}*/
/*}*/
/*@media (min-width: 992px){*/
    /*.container{*/
        /*width: 972px;*/
    /*}*/
/*}*/
/*@media (min-width: 1200px){*/
    /*.container{*/
        /*width: 1170px;*/
    /*}*/
/*}*/